.container-fluid{
    width:100%;
}


.header{
    background-color: rgb(65, 61, 61);
  width: 100%;
}


.fa{
    color: white;
    padding: 10px;
}

.box{
    background-color: rgb(199, 204, 187);
    
   
}
.child1{
   height: 450px;
   width: 250px;
        background-color: rgb(57, 55, 55);
         margin: 60px 30px 30px 30px;
        border-radius: 15px;
      
        
    }
    .child2{
      padding: 5px;
        background-color: rgb(57, 55, 55);
       display: flex;
       align-self:center;
        margin: 40px 20px 25px 20px;
        border-radius: 10px;
       

    }
.child3{
    height: 100px;
    width: 350px;
    background-color: rgb(57, 55, 55);
    margin: 30px 30px 35px 30px;
     border-radius: 10px;
   align-items: center;
}

.child4{
    height: 100px;
    width: 500px;
   
    background-color: rgb(57, 55, 55);
        
        margin: 20px 20px 20px 20px;
        border-radius: 15px;
        
}
